<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>QtWS 2019</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>${PRODUCT_NAME}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>${PRODUCT_VERSION_NAME}</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb2469680259928212</string>
            </array>
        </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>${PRODUCT_VERSION_CODE}</string>
    <key>FacebookAppID</key>
    <string>2469680259928212</string>
    <key>FacebookDisplayName</key>
    <string>Qt World Summit 2019</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>App would like to save images taken with camera.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>App would like to access the library.</string>
    <key>NSCameraUsageDescription</key>
    <string>App would like to access the camera.</string>
    <key>NSContactsUsageDescription</key>
    <string>App would like to store contacts to the Addressbook.</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
            <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
</dict>
</plist>
